@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');

* {
    font-family: Roboto;
}

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #444;
  padding: 5px 20px; /* Reduced padding */
}

.title {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.title img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align Nav links to the right */
  flex-grow: 1; /* Allow Nav links to grow and take up available space */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px; /* Reduced margin-left */
  margin-right: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
 color: #0095ff;
}

/* Game container styles */
#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.game {
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: 0.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #383838;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.game-title {
  font-size: 20px;
}

.game:hover {
  background-color: #fff;
}

.game img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.game a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.game:hover a {
  color: #333;
}

/* Category container styles */
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.category {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.category:hover {
  background-color: #383838;
}

.category a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.category:hover a {
  color: #0ec2e1;
}

/* Search container styles */

#search-container {
    text-align: center;
    align-items: center;
}

.title-search {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.title-search img {
  float: left; /* Align the image to the left */
  display: inline-block; /* Allow the text and image to be on the same line */
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}
    
#search-input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

#search-input {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.search-links {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.search-links:hover {
    color: #0095ff;
}


/* Error container styles */
.error-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #383838;
  border-radius: 10px;
  width: 80%;
}

.error-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.error-container p {
  font-size: 18px;
}

.error-container a.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.home-button:hover {
  background-color: white;
}

.hom-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hom-button:hover {
    background-color: white;
}

/* CSS to center the main area */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


