@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');

* {
    font-family: Roboto;
}

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #444;
  padding: 5px 20px; /* Reduced padding */
}

.title {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.title img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align Nav links to the right */
  flex-grow: 1; /* Allow Nav links to grow and take up available space */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px; /* Reduced margin-left */
  margin-right: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
 color: #0095ff;
}

/* Game container styles */
#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.game {
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: 0.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #383838;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.game-title {
  font-size: 20px;
}

.game:hover {
  background-color: #fff;
}

.game img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.game a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.game:hover a {
  color: #333;
}

/* Category container styles */
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.category {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.category:hover {
  background-color: #383838;
}

.category a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.category:hover a {
  color: #0ec2e1;
}

/* Search container styles */

#search-container {
    text-align: center;
    align-items: center;
}

.title-search {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.title-search img {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}
    
#search-container input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

#search-container input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#searchButton {
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 0; /* Remove the margin-left */
  margin-right: 1px; /* Adjust the margin as needed */
}

#searchButton i {
  transition: background-color 0.3s ease;
  color: #444;
}

#searchButton i:hover {
  color: #006fff;
}

.icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

/* Error container styles */
.error-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #383838;
  border-radius: 10px;
  width: 80%;
}

.error-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.error-container p {
  font-size: 18px;
}

.error-container a.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.home-button:hover {
  background-color: white;
}

.hom-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hom-button:hover {
    background-color: white;
}

.error-container a.cloak-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00c900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.cloak-button:hover {
  background-color: #008500;
}

.error-container a.add-game-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00e000;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.add-game-button:hover {
  background-color: #3cb371;
}

.error-container a.widgetbot-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e90000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.widgetbot-button:hover {
  background-color: #b80000;
}

.error-container a.discord-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e90000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a.discord-button:hover {
  background-color: #b80000;
}

.button-container {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
}

.button-container a {
  text-decoration: none;
  color: white;
}

.button-container i {
  color: white;
  margin-right: 10px;
}

.icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icon-button i {
  margin-right: 10px;
}

    .pagination {
        text-align: center;
        margin-top: 20px;
    }

    .pagination a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ccc;
        margin: 0 5px;
        text-decoration: none;
        color: #333;
    }

    .pagination a:hover {
        background-color: #eee;
    }

    .pagination .prev {
        display: none; /* Hide the "Previous" button initially on Page 1 */
    }

.icon-button:focus {
  outline: none;
  
/* CSS for input elements */
.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Reduce the height of text input boxes */
  height: 30px;
}

/* CSS for the switch */
.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.switch-label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* CSS for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #45a049;
}

/* CSS to center the main area */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.dropdown:hover .dropbtn {
  background-color: #45a049;
}

  #bug-report-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  #bug-report-form input[type="text"],
  #bug-report-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #bug-report-form input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0ec2e1;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  #bug-report-form input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }


