.popup-content {
    /* other styles for da popup boyyyy */
    position: fixed;
    top: 50px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 999; /* its a popup, blud is on top of the world ey */
    /* cool other styles for da popup */
}

 #ad-container {
      position: relative;
      width: 100%;
      height: 300px; 
      background-color: #f1f1f1;
      overflow: hidden;
    }
    #video-ad {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
