* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

header {
  background-color: #444;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
  color: #fff;
}

#searchInput {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
}

#gamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    grid-auto-flow: dense;
    padding: 20px;
    margin-top: 20px;
}

.game {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    background-color: #383838;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.game-title {
  font-size: 20px;
}

.game:hover {
  background-color: #fff;
}

.game img {
  width: 100%;
  height: 1000%;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
  display: block;
}

.game a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.game:hover a {
  color: #333;
}

nav a {
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

nav a:hover {
  color: #0ec2e1;
}

.letter {
  margin: 20px 0;
  color: #fff;
  text-align: center;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.category {
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.category:hover {
  background-color: #383838;
}

.category a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.category:hover a {
  color: #0ec2e1;
}
