.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition: opacity 0.4s, transform 0.4s;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.popup-header {
    text-align: right;
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    color: #000;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: red;
    border-radius: 50%;
    color: #fff;
}

.popup-body h2 {
    color: black;
    font-size: 24px;
}

.popup-body p {
    font-size: 16px;
    color: black;
}
